{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('aos') }}
{% endblock %}

{% block title %}Projets{% endblock %}

{% block content %}
    <div class="projects-container">
		<div class="page-title">
			<i class="fa-solid fa-diagram-project"></i>
			<h1>{{ 'Projets'|trans }}</h1>
		</div>
        <section class="projects">
            {% for project in projects %}
                <article class="project" data-aos="fade-in">
                    <div class="project__img">
                        <img src="{{ vich_uploader_asset(project.thumbnail) }}" alt="{{ project.title }}">
                    </div>
                    <div class="project__content">
                        <h2>
                            <a href="{{ path('project_view', {'slug': project.slug}) }}">{{ project.title }}</a>
                        </h2>
						<div class="project__content__tags-container">
							<ul>
							{% for tag in project.tags %}
								<li class="badge">{{ tag.name }}</li>
							{% endfor %}
							</ul>
						</div>
                    </div>
                </article>
            {% endfor %}
        </section>
    </div>
{% endblock %}
