{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hljs') }}
{% endblock %}

{% block meta_description -%}
	{% if project.metaDescription %}
		{{- project.metaDescription -}}
	{% else %}
		{{- project.description|striptags|u.truncate(160, '...', false) -}}
	{%- endif %}
{% endblock %}

{% block meta_image -%}
	{% if project.metaImage %}
		{{- uploadsBasePath ~ project.metaImage.fileName -}}
	{% elseif project.thumbnail %}
		{{- uploadsBasePath ~ project.thumbnail.fileName -}}
	{% else %}
		{{- parent() -}}
	{%- endif %}
{% endblock %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
	<div class="project__container">
		<div class="left">
			<div class="project__container__img">
			{% if project.gallery|length > 0 %}
				{% include "partials/block/slides.html.twig" with {'images': project.gallery} %}
			{% elseif project.thumbnail is not null  %}
				<img src="{{ uploadsBasePath ~ project.thumbnail.fileName }}" alt="{{ project.name }}">
			{% endif %}
			</div>
		</div>
		<div class="right">
			<div class="project__container__name page-title">
				<h1>{{ project.name }}</h1>
			</div>
			<div class="project__container__description">
				{{ project.description|raw }}
			</div>
			<div class="project__container__tags-container ">
				<ul>
				{% for tag in project.tags %}
					<li class="badge">{{ tag.name }}</li>
				{% endfor %}
				</ul>
			</div>
			<div class="project__container__links">
				{% if project.websiteUrl is not empty %}
				<div class="project__container__links__website">
					<a href="{{ project.websiteUrl }}" target="_blank" rel="noopener noreferrer" title="Site Web" class="website-link"><i class="fa-solid fa-globe"></i><span>Voir le site</span></a>
				</div>
				{% endif %}
				{% if project.githubUrl is not empty %}
				<div class="project__container__links__github">
					<a href="{{ project.githubUrl }}" target="_blank" rel="noopener noreferrer" title="Github" class="github-link"><i class="fa-brands fa-github"></i><span>Voir le github du projet</span></a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
