{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block content %}
<div class="container">
    <h1>Connexion</h1>
    
    {% for flash_success in app.flashes('success') %}
        <div class="notice notice-success">{{ flash_success }}</div>
    {% endfor %}

    {% for flash_error in app.flashes('error') %}
        <div class="notice notice-error">{{ flash_error }}</div>
    {% endfor %}
    
    {{ form_start(formView) }}
    {{ form_widget(formView) }}
    {{ form_end(formView) }}
    
</div>
{% endblock %}
