{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('aos') }}
{% endblock %}

{% block content %}
	<div class="home__header" data-aos="fade-in">
		{# <figure class="home__header__img-me">
			<div class="img-me__wrapper">
				<img src="{{ asset('assets/me.png') }}" alt="Image of the creator of this magnificent blog">
			</div>
			{# {% include "/partials/block/neoctagon.html.twig" %}
		</figure> #}
		<div class="home__header__title page-title" data-aos="fade-in">
			<h1>Hugo Derré<br>Full-Stack Web Developer</h1>
		</div>
	</div>
	<hr>
	<div class="home__content">
		<p data-aos="fade-in">
			<strong>Sharing knowledge</strong>
			is a really enriching and exhilarating exercise for anyone passionate about their subject.<br>
			That's why I want to take some of my time to write articles about this field that captivates me so much:
			<strong>web development</strong>.<br>
			I hope you will leave this site with a little more knowledge than you had upon arrival!
		</p>
		<br>
		<div class="home__content__blog-summary" data-aos="fade-in">
			<h2>So, what kind of content on this site?</h2>
			<ul class="home__content__blog-summary__list">
				<li class="home__content__blog-summary__list__blog-item">Blog
					<a href="{{ path('blog') }}">
						<strong>articles</strong>
					</a>
					about web development.</li>
				<li class="home__content__blog-summary__list__project-item">My
					<a href="{{ path('projects') }}">
						<strong>personal creations and side projects</strong>
					</a>
					of the moment.</li>
			</ul>
		</div>
		<br>
		<div class="home__content__newsletter" data-aos="fade-in">
			<h2>And how to be informed of new publications?</h2>
			<p>
				If you like the content and don't want to miss anything, you can subscribe to the
				<strong>newsletter</strong>!<br>
				Enter your
				<b>email</b>
				right here and you will be
				<b>notified of every new publication</b>.<br>
				Guaranteed no spam and no sharing of email with third parties.
				<b>RGPD POWER 🦸‍♂️</b>
			</p>
			{{ form(newsletterForm) }}
		</div>
	</div>
{% endblock %}
