{% extends 'admin/body.html.twig' %}

{% block content %}
	<div class="admin-list__table">
		<div class="admin-list__table__header">
			<div class="admin-list__table__header-left">
				<div class="admin-list__table__header-left__actions">
					<a href="{{ path('admin_post_create') }}" class="btn admin-list__add-item-btn">Créer un article</a>
				</div>
			</div>
			<div class="admin-list__table__header-right">
				<div class="admin-list__table__header-right__filters">
					<a href="{{ path('admin_post_list', query|merge({'status': null})) }}">Tous</a>
					|
					<a href="{{ path('admin_post_list', query|merge({'status': 'publish'})) }}">Publié</a>
					|
					<a href="{{ path('admin_post_list', query|merge({'status': 'draft'})) }}">Brouillon</a>
					|
					<a href="{{ path('admin_post_list', query|merge({'status': 'trash'})) }}">Corbeille</a>
				</div>
                <div class="admin-list__table__header-right__search">
                    <form action="{{ path('admin_post_list') }}">
                        <input type="text" name="s" value="{{ query.s }}" placeholder="Recherche ...">
                        {% if query.status %}
                            <input type="hidden" name="status" value="{{ query.status }}">
                        {% endif %}
                    </form>
                </div>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th scope="col">Titre</th>
					<th scope="col">Tags</th>
					<th scope="col">Date</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td class="admin-list__table__name">
							<h2>
								<a href="">{{ item.title }}</a>
							</h2>
						</td>
						<td class="admin-list__table__tags">
							{% for tag in item.tags %}
								<span class="admin-list__table__tags__tag">{{ tag.name }}</span>
							{% endfor %}
						</td>
						<td class="admin-list__table__created-at">
							<p>{{ item.createdAt|date('d/m/Y') }}</p>
						</td>
						<td class="admin-list__table__actions">
							<a href="{{ path('post_view', {'slug': item.slug }) }}" title="Voir" target="_blank">
								<i class="fa-solid fa-arrow-right-from-bracket"></i>
							</a>
							<a href="" title="Modifier">
								<i class="fa-solid fa-file-pen"></i>
							</a>
							<a href="{{ path('admin_post_delete', {'id': item.id }) }}" title="Supprimer">
								<i class="fa-solid fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
