{% for comment in comments %}
<section class="comment">
	<div class="comment__left">
		<div class="comment__left__avatar">
			<img 
				src="{{ gravatar_exists(comment.authorEmail) ? gravatar(comment.authorEmail) : asset('assets/blank-avatar.jpg') }}" 
				alt="Avatar de l'auteur du commentaire" 
				width="50"
				height="50"
			/>
		</div>
		<div class="comment__left__subline {{ loop.last and comment.getReplies() is empty and comment.getParent() is empty ? 'comment__left__subline--last' : '' }}"></div>
	</div>
	<div class="comment__right">
		<div class="comment__right__header">
			<h5>{{ comment.authorName }}</h5>
			<div class="comment__right__created-at">{{ comment.createdAt|format_datetime() }}</div>
		</div>
		<div class="comment__right__content">
			<div class="comment__right__content__inner">
				<div>{{ comment.content }}</div>
				{# <div class="comment__right__content__inner__reply-btn" data-action="click->comments#replyButtonClick" data-comment-id={{ comment.id }}>
					{{ "Répondre"|trans }} <i class="fa-solid fa-comment-dots"></i>
				</div> #}
			</div>
			{% if comment.getReplies() is not empty %}
				{% include "partials/block/comments.html.twig" with {'comments': comment.getReplies()} %}
			{% endif %}
		</div>
	</div>
</section>
{% endfor %}