{% set post_card_title_tag = (app.request.get('_route') == 'blog') ? 'h2' : 'h4' %}
<article class="post-card">
	<div class="post-card__header">
		<{{ post_card_title_tag }} class="post-card__header-title">
			<a href="{{ path('post_view', {slug: post.slug}) }}" class="">{{ post.title }}</a>
		</{{ post_card_title_tag }}>
	</div>
	<div class="post-card__body">
		<p class="post-card__body-date">{{ post.publishedAt|format_datetime(pattern="dd MMMM YYYY")|upper }}</p> {{locale}}
		<p class="post-card__body-excerpt">{{ post.excerpt }}</p>
	</div>
	<div class="post-card__footer">
		<hr>
		<div class="post-card__footer-wrapper">
			<ul class="post-card__footer__tags">
				{% for tag in post.tags %}
					<li class="post-card__footer__tags-tag">{{ tag.name|trans }}</li>
				{% endfor %}
			</ul>
			<ul class="post-card__footer__socials">
				<li class="post-card__footer__socials__comments">
					<i class="fa-solid fa-comments"></i>
					<span>{{ post.comments|filter(c => c.status == 'approved')|length }}</span>
				</li>
			</ul>
		</div>
	</div>
</article>
