<header>
	<div class="topbar__logo">

	</div>
	<nav class="topbar__nav">
		<ul>
			<li><a href="{{ path('homepage') }}" class="{{ page == 'blog' ? 'active' : '' }}"><i class="fa-solid fa-newspaper"></i> Blog</a></li>
			<li><a href="#"><i class="fa-solid fa-diagram-project"></i> Projets</a></li>
			<li><a href="{{ path('kisouij') }}" class="{{ page == 'kisouij' ? 'active' : '' }}"><i class="fa-solid fa-face-smile"></i> Kisouij</a></li>
		</ul>
	</nav>
	<div class="topbar__login">
		{# {% if app.user %}
			<a class="btn" href="{{ path('logout') }}">Deconnexion</a>
		{% else %}
			<a class="btn" href="{{ path('register') }}">S'inscrire</a>
			<a class="btn" href="{{ path('login') }}">Se connecter</a>
		{% endif %} #}
	</div>
	<hr>
</header>
