<header class="topbar">
	<div class="topbar__logo">
		<strong>HUGO DERRE</strong>
	</div>
	<nav class="topbar__nav">
		<ul>
			<li><a href="{{ path('homepage') }}" class="{{ page == 'home' ? 'active' : '' }}"><i class="fa-solid fa-home"></i> Home</a></li>
			<li><a href="{{ path('blog') }}" class="{{ page == 'blog' or page == 'post' ? 'active' : '' }}"><i class="fa-solid fa-newspaper"></i> Blog</a></li>
			<li><a href="{{ path('projects') }}" class="{{ page == 'projects' or page == 'project' ? 'active' : '' }}"><i class="fa-solid fa-diagram-project"></i> Projets</a></li>
			<li><a href="mailto:contact@hugoderre.fr" class="{{ page == 'contact' ? 'active' : '' }}"><i class="fa-solid fa-paper-plane"></i> Contact</a></li>
		</ul>
	</nav>
	<hr>
</header>
