<header>
	<div class="topbar">
		<div class="topbar__logo">
			<img src="{{ asset('assets/logo.svg') }}" alt="" width="58">
		</div>
		<nav class="topbar__nav">
			<ul>
				<li><a href="{{ path('homepage') }}"class="{{ page == 'home' ? 'active' : '' }}"><i class="fa-solid fa-home"></i>Home</a></li>
				<li><a href="{{ path('blog') }}"class="{{ page == 'blog' or page == 'post' ? 'active' : '' }}"><i class="fa-solid fa-newspaper"></i>Blog</a></li>
				<li><a href="{{ path('projects') }}"class="{{ page == 'projects' or page == 'project' ? 'active' : '' }}"><i class="fa-solid fa-diagram-project"></i>Projets</a></li>
				<li><a href="mailto:contact@hugoderre.fr"class="{{ page == 'contact' ? 'active' : '' }}"><i class="fa-solid fa-paper-plane"></i>Contact</a></li>
				
				{% for locale in locales|split('|') %}
					{% if locale == app.request.locale %}
						<li>
							<span>
								<img src="{{ asset("assets/#{locale}.svg") }}" alt="{{ locale|upper }} Country flag for language choice " height="auto" width="20" class="locale-flag">
							</span>
						</li>
					{% else %}
						<li>
							<a href="
								{% if translatedEntities is defined %}
									{% set translatedEntity = translatedEntities['entities']|filter(e => e.lang == locale)[0] %}
									{% if translatedEntity is not empty %}
										{{ path("#{app.request.get('_route')}", {'_locale': locale, 'slug': translatedEntity.slug}) }}
									{% else %}
										{{ path("#{translatedEntities['fallback_route']}", {'_locale': locale}) }}
									{% endif %}
								{% else %}
									{{ path('change_locale', {'locale': locale}) }} 
								{% endif %}
							" class="">
								<img src="{{ asset("assets/#{locale}.svg") }}" alt="{{ locale|upper }} Country flag for language choice " height="auto" width="20" class="locale-flag">
							</a>
						</li>
					{% endif %}
				{% endfor %}

			</ul>
		</nav>
		<div class="dark-mode-button" {{ stimulus_controller('dark-mode') }}>
			<div class="dark-mode-button__toggle-wrapper">
				<input 
					type="checkbox" 
					id="dark-mode-switch" 
					aria-label="dark mode toggle" 
					class="dark-mode-button__toggle-checkbox"
					{{ app.request.cookies.get('darkMode') == 'dark' ? 'checked' : '' }}
					{{ stimulus_action('dark-mode', 'darkModeInputEvent') }}
				/>
				<div class="dark-mode-button__toggle-circle"></div>
				<i class="icon icon_moon fa-solid fa-moon"></i>
				<i class="icon icon_sun fa-solid fa-sun"></i>
			</div>
		</div>
		<hr>
	</div>
</header>

