<div class="comments__form">
	{{ form_start(form) }}
		{{ form_row(form.authorName) }}
		{{ form_row(form.authorEmail) }}
		{{ form_row(form.authorWebsite) }}
		{{ form_row(form.country) }}
		{{ form_row(form.content) }}
		<div class="form-group form-buttons">
			{{ form_row(form.send) }}
			{{ form_row(form.cancel) }}
		</div>
		{{ form_row(form.parentId) }}
	{{ form_end(form) }}
</div>
